.main-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10;
    align-items: flex-start;
    background-color: '#fff';

}

.main-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #313131;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #F35041;

}

.user-info{
    display: flex;
    flex-direction: row;
    
}

.user-pic img{
    width: 20px;
    border: 2px solid #55479E;
    padding: 7px 12px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px -2px 0px;
}

